<h1><%= current_user.name %> Profile Information </h1>
<form action="/order" method="post" name="form1" id="order">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value=<%= form_authenticity_token() %>></div>

    <form action="" method="post" name="form1" id="order">
  <fieldset>
    <legend>Billing Information</legend>
    <%= form_for :billing_information do |f| %>
      <div>
      <label for="name" class="label">name</label>
      <%= f.text_field :name %>
    </div>
    <div>
       <label for="address" class="label">address</label>
      <%= f.text_field :address %>
    </div>
    <div>
     <label for="city" class="label">city</label>
      <%= f.text_field :city %>
    </div>


    <div>
      <label for="state" class="label">State/Province</label>
      <%= f.text_field :state %>
    </div>

    <div>
      <label for="postal_code" class="label">postal code</label>
      <%= f.text_field :postal_code %>
    </div>
       <div>
         <label for="country" class="label" value="">Country</label>
      <%= country_select("billing_information", "country", nil, {iso_codes: true}, {class: 'billing_information'} )%>
      <label for="country" class="label" value>Country</label>
          </div>
          <div>

          <%#<label for="payment_method" class="label">%>
    <div><span class="label">Payment Method</span>
          <%= f.radio_button "payment_method", id="paypal" %>
      <label for="billing_information_payment_method_paypal" >PayPal</label>

          <%= f.radio_button "payment_method", id="visa" %>
          <label for="billing_information_payment_method_visa" >Visa</label>

          <%= f.radio_button "payment_method", id="mastercard" %>
          <label for="billing_information_payment_method_mastercard">MasterCard</label>

        </div>
    <div id="creditCard" class="indent">
 <%#<% if @billing_information.payment_method == "paypal"%>%>
   <%#<% :card_number.hidden %>%>
      <%#<% end%>%>

  <div>
      <label for="card_number" class="label">Card Number</label>
      <%= f.text_field :card_number %>
    </div>
  <div>
      <label for="expiration" class="label">Expiration Date</label>
      <%= f.text_field :expiration_date  %>
    </div>




  </fieldset>
  <fieldset>
    <legend>Shipping Information</legend>
    <div class="indent">
      <%  if @billing_information.same_as_shipping_information.present? %> 
      <input type="checkbox" name="billing_information[same_as_shipping_information]" id="hideShip" checked="same_as_shipping_information">
     <% else %>
      <input type="checkbox" name="billing_information[same_as_shipping_information]" id="hideShip" >
    <% end %>
      <label for="hideShip">Same as billing</label>
    </div>


    <div id="shipping">
      <div> <%#<%= form_tag("shipping_infomation", method: "get") do %>%>
          <%= label_tag('address', "shipping") %>
            <%#<%= text_field_tag :adress, @shipping_information[:address] %>%>
            <%= text_field_tag 'shipping_information[address]',:address %>
            <%= submit_tag("Se") %> </div>
            <%#<% end %>%>
          <div>
        <%#<label for="shipName" class="label">Name</label>%>
        <%#<input value=<%= @shipping_information.name %> ""  name="shipping_information[name]" type="text" id="shipName" size="36">%>
      </div>
      <div>
        <label for="shipAddress" class="label">address</label>
        <input value=<%= @shipping_information.address %> "" name="shipping_information[address]" type="text" id="shipAddress" size="36">
      </div>
      <div>
        <label for="shipCity" class="label">City</label>
        <input value=<%= @shipping_information.city %> "" name="shipping_information[city]" type="text" id="shipCity" size="36">
      </div>
      <div>
        <label for="shipState" class="label">State/Province</label>
        <input value=<%= @shipping_information.state %> ""  name="shipping_information[state]" type="text" id="shipState" size="36">
      </div>
      <div>
        <label for="shipZip" class="label">Postal Code</label>
        <input value=<%= @shipping_information.postal_code %> "" name="shipping_information[postal_code]" type="text" id="shipZip" size="36">
      </div>
      <div>
      <label for="country" class="label" value>Country</label>
      <%= country_select("shipping_information", "country", nil, {iso_codes: true}, {class: 'shipping_information'} )%>
      </div>
    </div>
  </fieldset>

   <%= f.submit :submit %>
    <% end %>


  <%#<input type="submit" name="submit" id="submit" value="Submit">%>
</form>
